<mat-card class="welcome-card cardWithShadow">
  <div class="p-t-30 p-b-16 p-x-30">
    <mat-card-title class="f-s-18 f-w-500 m-t-4"
      >Congratulation Julia</mat-card-title
    >
    <div class="hstack align-items-end gap-6 m-t-24">
      <h4 class="f-w-600 f-s-24 m-0">$39,358</h4>
      <span class="f-s-14 m-l-10 m-b-0 m-t-10 f-w-600 d-flex"
        ><i-tabler name="arrow-up-left" class="icon-14"></i-tabler>+9%</span
      >
    </div>
    <div class="m-t-24 m-b-15">
      <button mat-flat-button>Download</button>
    </div>
  </div>
</mat-card>
