<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <mat-card-title class="f-s-18 m-b-0 m-t-5">Purchases</mat-card-title>
      <button
        mat-fab
        class="icon-48 bg-secondary text-white d-flex align-items-center"
      >
        <i-tabler name="shopping-bag" class="icon-20 d-flex"></i-tabler>
      </button>
    </div>
    <h4 class="m-b-4 m-t-30 p-t-20 f-w-500 f-s-30">2,367</h4>
    <h6 class="f-s-15 f-w-400 m-t-6 m-b-0">Monthly Sales</h6>
  </mat-card-content>
</mat-card>
