<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/leagues/about-us2.png"
            alt="login"
            style="max-width: 600px; width: 450px;"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0 d-flex justify-content-center">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100" *ngIf="step1">
          <div class="col-lg-9">
            <h4 class="f-w-700 f-s-24 m-0">Forgot your password?</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8"
              >Please enter the email address associated with your account and
              We will email you a link to reset your password.</span
            >

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Email Adddress</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="email" formControlName="email" />
                @if(f['email'].touched && f['email'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['email'].errors && f['email'].errors['required']) {
                  <div class="text-error">Email is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!form.valid"
              >
                Forgot Password
              </button>
              <a
                [routerLink]="['/login']"
                mat-stroked-button
                color="primary"
                class="w-100 m-t-8"
              >
                Back to Login
              </a>
              <!-- input -->
            </form>
          </div>
        </div>
        <div class="row justify-content-center w-100" *ngIf="!step1">
          <div class="col-lg-9">
            <h4 class="f-w-700 f-s-24 m-0">Réinitialisation de votre mot de passe</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8"
              >Accéder à votre boite mail pour trouver votre code de vérification. Votre mot de passe doit obligatoirement contenir au minimum
                8 caractères dont un majuscule, un minuscule et un chiffre </span
            >

            <form class="m-t-30" [formGroup]="formreset" (ngSubmit)="resetPsw()" *ngIf="!isNew">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Code vérification</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <mat-label>Code vérification</mat-label>
                <input matInput formControlName="code" />
                <!--@if(f['code'].touched && f['code'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['code'].errors && f['code'].errors['required']) {
                  <div class="text-error">Name is required.</div>
                  } @if(f['code'].errors && f['code'].errors['minlength']) {
                  <div class="text-error">Name should be 2 character.</div>
                  }
                </mat-hint>
                }-->
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
                @if(freset['password'].touched && freset['password'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(freset['password'].errors && freset['password'].errors['required'])
                  {
                  <div class="text-error">Password is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <mat-label>New password</mat-label>
                <input matInput type="newpassword" formControlName="newpassword" />
                @if(freset['newpassword'].touched && freset['newpassword'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(freset['newpassword'].errors && freset['newpassword'].errors['required'])
                  {
                  <div class="text-error">New password is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!formreset.valid"
              >
                Reset password
              </button>
              <a
                [routerLink]="['/login']"
                mat-stroked-button
                color="primary"
                class="w-100 m-t-8"
              >
                Back to Login
              </a>
              <!-- input -->
            </form>
            <div *ngIf="isNew == true && !step1" class="congrate" style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <!--<img style="height: 70px; margin-top: -12%; margin-bottom: 26%;" src="../../../../assets/img/activated-img.png" alt="icon"/>-->
              <p class="congrate-text" style="color: black; line-height: 39px; font-size: 18px; text-align: center; margin-top: -15%; font-family: Montserrat;">
                  Félicitation ! votre mot de passe a été modifié,<br/>
                  vous pouvez maintenant vous connecter<br/>
                  avec le nouveau mot de passe.
              </p>
              <a
                [routerLink]="['/login']"
                mat-stroked-button
                color="primary"
                class="w-100 m-t-8"
              >
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
