<div class="contact-page">
  <div class="bg-light-primary contact-herder" >
    <div class="container p-y-20" style="max-width: none;">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!--<h1 class="m-b-24 f-s-48 lh-normal section-sub-title">
            Get to know Flexy Dashboard Template
          </h1>
          <div class="hstack">
            <a mat-flat-button color="primary">Create an account</a>
            <a mat-stroked-button color="primary" class="border-primary">View Open
              Positions</a>
          </div>-->
          <img src="https://img.netbet.com/cdn-cgi/image/q=90,w=700,f=webp/gms/images/casino/carousels/main-carousel/tournaments-front_new-en.png" alt="logo" style="width: 88%;"/>
        </div>

        <div class="col-lg-6">
          
          <p class="lh-base m-t-32">
            Notre plateforme de pronostics entre amis sur les matchs de football
            est conçue pour offrir une expérience simple, sécurisée et fun. 
            Crée des ligues privées, lance des défis, et suis ton classement en 
            temps réel. Que tu sois un expert du ballon rond ou un amateur de bons 
            paris entre potes, notre site rend chaque match encore plus excitant !
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

</div>