<mat-card class="cardWithShadow earnings-bg">
  <mat-card-content>
    <div class="d-flex justify-content-between align-items-center p-b-12">
      <div>
        <span class="f-s-18 mat-subtitle-2">Earnings</span>
        <h3 class="f-s-24 f-w-500 m-t-6 m-b-0">$63,438.39</h3>
      </div>
      <button mat-fab class="icon-48 bg-primary text-white d-flex align-item-center">
        <i-tabler name="currency-dollar" class="icon-22 d-flex"></i-tabler>
      </button>
    </div>
    <button mat-flat-button class="m-t-20 bg-secondary text-white">
      Download
    </button>
  </mat-card-content>
</mat-card>
