<div class="footer-content">

  <div class="footer-wrapper">
    <div style="max-width: none;">
      <div class="row" style="background: #fef0eb;">
        <div class="col-md-12 col-6 m-b-30">
          <div class="listContainer">
            <h5 class="f-s-16 f-w-600 down-msg">Vis le match à fond, parie avec passion.</h5>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between p-y-30 b-t-1 flex-wrap" style="background-image: url('assets/images/leagues/gazon.jpg');
                  background-position: bottom; padding: 19px !important;">
        <!-- Left side -->
        <div class="d-flex align-items-center gap-12">
          <img src="assets/images/landingpage/favicon.png" alt="logo" />
          <h6 class="f-s-16 f-w-500">All rights reserved by Flexy.</h6>
        </div>

        <!-- Right side -->
        <div class="d-flex justify-content-end align-items-center">
          <p class="f-s-16 m-0">
            Designed & Developed by
            <a href="https://www.wrappixel.com/" target="_blank" class="text-decoration-none text-primary">
              Pronos Amis.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>